<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}

    {% # Load Google fonts first %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    >

    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon.png' | asset_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon-32x32.png' | asset_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon-16x16.png' | asset_url }}">
    <link rel="manifest" href="{{ 'site.webmanifest' | asset_url }}">

    {% # Load and preload the critical CSS %}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    <!-- Hotjar Tracking Code for Miserably Employed -->
    <script>
      (function (h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function () {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: 6381955, hjsv: 6 };
        a = o.getElementsByTagName('head')[0];
        r = o.createElement('script');
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>

    <script src="https://analytics.ahrefs.com/analytics.js" data-key="P00Cwh9nc0sADMYaimSORQ" async></script>

    {{ content_for_header }}

    <!-- Add Swiper styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

    <!-- Add Swiper script -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" async></script>

    <style>
      /* Root Styles */

      :root {
        --color-primary: #007bff;
        --color-secondary: #6c757d;
        --color-success: rgb(41, 206, 79);
        --color-danger: #dc3545;
        --color-warning: #ffc107;
        --color-info: #17a2b8;
        --color-light: #f8f9fa;
        --color-light-hover: #ffffff;
        --color-dark: #121212;
        --color-dark-hover: #2f2f2f;
        --color-border: rgba(0, 0, 0, 0.085);

        --spacing-xs: 0.25rem;
        --spacing-sm: 0.5rem;
        --spacing-md: 1rem;
        --spacing-lg: 1.5rem;
        --spacing-xl: 3rem;
        --spacing-xxl: 4rem;

        --br-sm: 4px;
        --br-md: 12px;
        --br-lg: 24px;

        --br-pill: 50rem;
        --br-circle: 50%;
        --br: 0.25rem;

        --font-family-base: 'Public Sans', sans-serif;

        --font-size-base: 14px;
        --font-size-xs: 10px;
        --font-size-sm: 12px;
        --font-size-md: 14px;
        --font-size-lg: 20px;
        --font-size-xl: 32px;
        --font-size-xxl: 60px;
        --font-size-xxxl: 80px;

        --line-height-base: 1.5;
        --line-height-sm: 1.25;

        --box-shadow-lg: 10px 10px 0px rgba(0, 0, 0, 0.05);
        --box-shadow-md: 5px 5px 0px rgba(0, 0, 0, 0.05);
        --box-shadow-sm: 2px 2px 0px rgba(0, 0, 0, 0.05);

        --box-shadow-blur: 0 10px 40px rgba(0, 0, 0, 0.1), 0 5px 20px rgba(0, 0, 0, 0.05),
          0px 8px 8px rgba(0, 0, 0, 0.1);
      }
    </style>
  </head>

  <body>
    {% sections 'header-group' %}

    <section class="boop">
      {{ content_for_layout }}
    </section>

    {% sections 'footer-group' %}
  </body>
</html>
