<div class="article-top">
  <div class="title-and-date">
    <p class="article-date">
      {{ article.published_at | time_tag: format: 'date' }}
    </p>
    <h1>{{ article.title }}</h1>
  </div>
  <p class="article-description">
    {{ article.excerpt | strip_html | truncatewords: 50 }}
  </p>
</div>

<div class="article-image-and-nav">
  <div class="article-navigation">
    {% if blog.previous_article %}
      <a href="{{ blog.previous_article.url }}" class="prev-article">
        {% comment %} ← {{ blog.previous_article.title }} {% endcomment %}
        <img
          src="{{ 'arrow-left.svg' | asset_url }}"
          alt="{{ blog.previous_article.title }}"
          width="24"
          height="24"
        >
        <span>{{ blog.previous_article.title }}</span>
        <div>Previous</div>
      </a>
    {% endif %}

    {% if blog.next_article %}
      <a href="{{ blog.next_article.url }}" class="next-article">
        <span>{{ blog.next_article.title }}</span>
        <div>Next</div>
        <img
          src="{{ 'arrow-right.svg' | asset_url }}"
          alt="{{ blog.next_article.title }}"
          width="24"
          height="24"
        >
      </a>
    {% endif %}
  </div>
  {% if article.image %}
    {{ article.image | image_url: width: 1000 | image_tag: class: 'top-article-image', alt: article.title }}
  {% endif %}
</div>

<div class="article">
  <div class="article-content">
    {{ article.content }}
  </div>
  <div class="other-articles">
    {% for other_article in blog.articles limit: 5 %}
      {% if other_article.id != article.id %}
        <a href="{{ other_article.url }}" class="article-link">
          {{
            other_article.image
            | image_url: width: 1000
            | image_tag: class: 'other-article-image', alt: other_article.title
          }}
          {{ other_article.title }}
        </a>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% comment %}
  <a class="button primary" href="{{ blog.url }}" class="back-to-blog">
    <img
      src="{{ 'arrow-left.svg' | asset_url }}"
      alt="{{ blog.previous_article.title }}"
      width="24"
      height="24"
      style="margin: 0;"
    >
    Back to Rants
  </a>
{% endcomment %}

{% stylesheet %}
  .article-top {
    display: grid;
    grid-template-columns: 1fr 400px;
    align-items: flex-end;
    justify-content: space-between;
    padding: var(--spacing-xl) 0;
    border-bottom: 1px solid var(--color-border);
    margin: 0 0 var(--spacing-xl) 0;

    @media screen and (max-width: 1024px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: var(--spacing-lg) 0;
    }

    .title-and-date {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      flex-grow: 1;

      @media screen and (max-width: 1024px) {
        flex-direction: column;
        align-items: flex-start;
      }

      .article-date {
        font-size: var(--font-size-lg);
        color: var(--color-dark);
        margin-right: var(--spacing-lg);
        flex-shrink: 0;
        opacity: 0.5;
      }

      h1 {
        font-size: var(--font-size-xxl);
        font-weight: bold;
        color: var(--color-dark);
        text-align: left;
        line-height: 1.05;
        margin: 0;

        @media screen and (max-width: 1024px) {
          margin: 0 0 var(--spacing-lg) 0;
        }
      }
    }
    .article-description {
      font-size: var(--font-size-lg);
      color: var(--color-dark);
      margin-left: var(--spacing-lg);
      flex-shrink: 0;
      opacity: 0.5;
      text-wrap: balance;
      text-align: right;
      line-height: 1.5;

      @media screen and (max-width: 1024px) {
        max-width: 100%;
        text-align: left;
        margin: 0;
      }
    }
  }
  .article-image-and-nav {
    position: relative;

    .article-navigation {
      display: none;

      @media screen and (max-width: 1180px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: var(--spacing-xl);
      }

      &:has(.prev-article:only-child) {
        justify-content: flex-start; /* Left-align when only prev exists */
      }

      &:has(.next-article:only-child) {
        justify-content: flex-end; /* Right-align when only next exists */
      }

      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        color: var(--color-dark);
        gap: var(--spacing-sm);
        padding: var(--spacing-sm) 0;
        opacity: 0.7;

        span {
          display: flex;

          @media screen and (max-width: 1024px) {
            display: none;
          }
        }

        div {
          display: none;

          @media screen and (max-width: 1024px) {
            display: flex;
          }
        }

        &:hover {
          opacity: 1;
        }
      }

      .next-article {
        align-self: flex-end;
      }
    }
  }

  .top-article-image {
    margin: 0 auto !important;
    max-width: 100%;
    width: 100%;
    height: auto;
    border-radius: var(--br-md);
  }

  .article {
    display: grid;
    grid-template-columns: 1fr 400px;
    gap: var(--spacing-xl);
    padding: var(--spacing-xl) 0;
    position: relative;
    min-height: 400px;
    align-items: start;

    @media screen and (max-width: 1180px) {
      grid-template-columns: 1fr;
    }

    .article-content {
      color: var(--color-dark);
      font-size: var(--font-size-base);
      line-height: 1.6;
      border-right: 1px solid var(--color-border);
      padding: 0 var(--spacing-xl) 0 0;

      @media screen and (max-width: 1180px) {
        padding: 0;
        border-right: none;
      }
    }

    h1 {
      font-size: var(--font-size-xxxl);
      text-wrap: balance;
      font-weight: bold;
      color: var(--color-dark);
      text-align: left;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      line-height: 1.05;
      text-transform: uppercase;
      font-style: italic;
      letter-spacing: -0.05em;

      @media screen and (max-width: 1024px) {
        font-size: var(--font-size-xl);
        margin: var(--spacing-xl) 0 var(--spacing-lg) 0;
      }
    }

    h2 {
      margin-top: var(--spacing-xl);
      font-size: var(--font-size-xxl);

      @media screen and (max-width: 1024px) {
        font-size: var(--font-size-xl);
        line-height: var(--font-size-xl);
      }
    }

    h3 {
      margin: var(--spacing-xl) 0 var(--spacing-md);
      font-size: var(--font-size-xl);
      color: var(--color-dark);

      @media screen and (max-width: 1024px) {
        font-size: var(--font-size-lg);
        margin: var(--spacing-lg) 0 var(--spacing-md);
        line-height: var(--font-size-lg);
      }
    }

    p {
      margin: var(--spacing-md) 0;
      font-size: var(--font-size-lg);
    }

    img {
      max-width: 100%;
      height: auto;
      border-radius: var(--br-md);
      margin: var(--spacing-xl) 0;

      @media screen and (max-width: 1024px) {
        margin: var(--spacing-lg) 0;
      }
    }
  }

  .other-articles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .article-link {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      background-color: transparent;
      padding: var(--spacing-md);
      border-radius: var(--br-md);
      transition: background-color 0.3s ease;
      color: var(--color-dark);
      text-decoration: none;

      &:hover {
        background-color: var(--color-light);
      }

      .other-article-image {
        width: 200px;
        height: auto;
        margin: 0 var(--spacing-md) 0 0;
        border-radius: var(--br-md);
      }
    }
  }

  .article-image {
    width: 100%;
    height: auto;
    margin: 0 0 var(--spacing-xl) 0 !important;
    border-radius: var(--br-md);
  }

  .article-title {
    margin: var(--spacing-xxl) 0;
    font-size: var(--font-size-xxl);
    text-wrap: balance;
    font-weight: bold;
    color: var(--color-dark);
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    line-height: 1.05;

    @media screen and (max-width: 1024px) {
      font-size: var(--font-size-xl);
      margin: var(--spacing-xl) 0 var(--spacing-lg) 0;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.article",
  "settings": []
}
{% endschema %}
