{% comment %}
  This section is used in the article template to render the article page, which
  displays the full content of the blog post and can optionally include a
  comments section for customers (not shown in this example).

  https://shopify.dev/docs/storefronts/themes/architecture/templates/article
{% endcomment %}

<div class="article-bg-text">{{ article.title }}</div>

<div class="article">
  <div class="article-image-and-nav">
    {% if article.image %}
      {{ article.image | image_url: width: 1000 | image_tag: class: 'article-image', alt: article.title }}
      <div class="article-navigation">
        {% if blog.previous_article %}
          <a href="{{ blog.previous_article.url }}" class="prev-article">
            {% comment %} ← {{ blog.previous_article.title }} {% endcomment %}
            <img
              src="{{ 'arrow-left-dark.svg' | asset_url }}"
              alt="{{ blog.previous_article.title }}"
              width="24"
              height="24"
            >
            Prev
          </a>
        {% endif %}

        {% if blog.next_article %}
          <a href="{{ blog.next_article.url }}" class="next-article">
            Next
            <img
              src="{{ 'arrow-right-dark.svg' | asset_url }}"
              alt="{{ blog.next_article.title }}"
              width="24"
              height="24"
            >
          </a>
        {% endif %}
      </div>
    {% endif %}
  </div>

  <h1 class="article-title">{{ article.title }}</h1>

  {{ article.content }}

  <a class="button small primary" href="{{ blog.url }}" class="back-to-blog">
    <img
      src="{{ 'arrow-left.svg' | asset_url }}"
      alt="{{ blog.previous_article.title }}"
      width="24"
      height="24"
      style="margin: 0;"
    >
    Back to Rants
  </a>

  {% comment %}
    {% if blog.comments_enabled? %}
      <h2>{{ 'blog.article_comments' | t }}</h2>

      <div id="comments">
        {% paginate article.comments by 10 %}
          {% for comment in article.comments %}
            <div>
              <p>{{ comment.author }}</p>
              <p>
                {{- comment.created_at | time_tag: format: 'date' -}}
              </p>
              <p>{{ comment.content }}</p>
            </div>
          {% endfor %}

          {{ paginate | default_pagination: anchor: 'comments' }}
        {% endpaginate %}
      </div>

      {% form 'new_comment', article %}
        <h2>{{ 'blog.comment_form_title' | t }}</h2>

        {{ form.errors | default_errors }}

        <div>
          <label for="author">{{ 'blog.comment_form_name' | t }}</label>
          <input type="text" name="comment[author]" id="author" value="{{ form.author }}" required>
        </div>

        <div>
          <label for="email">{{ 'blog.comment_form_email' | t }}</label>
          <input type="email" name="comment[email]" id="email" value="{{ form.email }}" required>
        </div>

        <div>
          <label for="body">{{ 'blog.comment_form_body' | t }}</label>
          <textarea name="comment[body]" id="body" required>{{ form.body }}</textarea>
        </div>

        <input type="submit" value="{{ 'blog.comment_form_submit' | t }}">
      {% endform %}
    {% endif %}
  {% endcomment %}
</div>

{% stylesheet %}
  .article-bg-text {
    color: white;
    background-color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 20rem;
    text-wrap: nowrap;
    position: absolute;
    font-weight: bold;
    top: -2rem;
    left: -30%;
    right: -1vw;
    z-index: -1;
    pointer-events: none;
    opacity: 0.1;
    width: 100vw;
    text-align: center;
    transform: rotate(-10deg);
  }

  .article {
    max-width: 1000px;
    margin: 0 auto;
    padding: var(--spacing-xxl);
    color: var(--color-dark);
    font-size: var(--font-size-base);
    line-height: 1.6;

    @media screen and (max-width: 1024px) {
      padding: 0;
    }

    .article-image-and-nav {
      position: relative;

      .article-navigation {
        position: absolute;
        top: 100%;
        transform: translateY(-50%);
        left: 30px;
        right: 30px;
        display: flex;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        width: calc(100% - 60px);
        z-index: 1;

        @media screen and (max-width: 1024px) {
          left: 0;
          right: 0;
          width: 100%;
          top: 100%;
        }

        &:has(.prev-article:only-child) {
          justify-content: flex-start; /* Left-align when only prev exists */
        }

        &:has(.next-article:only-child) {
          justify-content: flex-end; /* Right-align when only next exists */
        }

        a {
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--color-dark);
          border-radius: var(--br-md);
          border: 2px solid var(--color-light);
          transition: all 0.3s ease;
          color: var(--color-light);
          padding: var(--spacing-sm) var(--spacing-md);
          gap: var(--spacing-sm);

          &:hover {
            transform: scale(1.1);
          }
        }

        .next-article {
          align-self: flex-end;
        }

        img {
          margin: 0 !important;
        }
      }
    }

    h1 {
      margin: var(--spacing-xxl) 0;
      font-size: var(--font-size-xxl);
      text-wrap: balance;
      font-weight: bold;
      color: var(--color-dark);
      text-align: center;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      line-height: 1.05;
      text-transform: uppercase;
      font-style: italic;
      letter-spacing: -0.05em;

      @media screen and (max-width: 1024px) {
        font-size: var(--font-size-xl);
        margin: var(--spacing-xl) 0 var(--spacing-lg) 0;
      }
    }

    h2 {
      margin-top: var(--spacing-xl);
      font-size: var(--font-size-xxl);

      @media screen and (max-width: 1024px) {
        font-size: var(--font-size-xl);
        line-height: var(--font-size-xl);
      }
    }

    h3 {
      margin: var(--spacing-xl) 0 var(--spacing-md);
      font-size: var(--font-size-xl);
      color: var(--color-dark);

      @media screen and (max-width: 1024px) {
        font-size: var(--font-size-lg);
        margin: var(--spacing-lg) 0 var(--spacing-md);
        line-height: var(--font-size-lg);
      }
    }

    p {
      margin: var(--spacing-md) 0;
      font-size: var(--font-size-lg);
      opacity: 0.8;
    }

    img {
      max-width: 100%;
      height: auto;
      border-radius: var(--br-md);
      margin: var(--spacing-xl) 0;

      @media screen and (max-width: 1024px) {
        margin: var(--spacing-lg) 0;
      }
    }
  }

  .article-image {
    width: 100%;
    height: auto;
    margin: 0 0 var(--spacing-xl) 0 !important;
    border-radius: var(--br-md);
  }

  .article-title {
    margin: var(--spacing-xxl) 0;
    font-size: var(--font-size-xxl);
    text-wrap: balance;
    font-weight: bold;
    color: var(--color-dark);
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    line-height: 1.05;

    @media screen and (max-width: 1024px) {
      font-size: var(--font-size-xl);
      margin: var(--spacing-xl) 0 var(--spacing-lg) 0;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.article",
  "settings": []
}
{% endschema %}
