{% comment %}
  This section is used in the blog template to render the blog page listing all
  articles within a blog.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/blog
{% endcomment %}

<div class="blog-bg-text">Miserably Employed</div>

<h1 class="blog-title">
  <img src="{{ 'rant-left.svg' | asset_url }}" alt="Rants!" width="100" height="100">
  {{ blog.title }}
  <img src="{{ 'rant-right.svg' | asset_url }}" alt="Rants!" width="100" height="100">
</h1>

<div class="blogs">
  {% paginate blog.articles by 18 %}
    {% for article in blog.articles %}
      <a href="{{ article.url }}" class="blog-article">
        {% if article.image %}
          {{ article.image | image_url: width: 1000 | image_tag }}
        {% endif %}
        {% comment %}
          <h2 class="blog-article-title">
            {{ article.title }}
          </h2>
          <p class="blog-excerpt">{{ article.excerpt }}</p>
        {% endcomment %}
      </a>
    {% endfor %}
  {% endpaginate %}
</div>

<div class="pagination">
  {% paginate blog.articles by 18 %}
    {{ paginate | default_pagination }}
  {% endpaginate %}
</div>

{% stylesheet %}
  .blog-bg-text {
    color: white;
    background-color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 20rem;
    text-wrap: nowrap;
    position: absolute;
    font-weight: bold;
    top: -2rem;
    left: -30%;
    right: -1vw;
    z-index: -1;
    pointer-events: none;
    opacity: 0.1;
    width: 100vw;
    text-align: center;
    transform: rotate(-10deg);
  }

  .blog-title {
    margin: 0;
    font-size: var(--font-size-xxxl);
    font-weight: bold;
    color: var(--color-dark);
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 1024px) {
      font-size: var(--font-size-xxl);

      img {
        width: 60px;
        height: 60px;
      }
    }
  }

  .blogs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-xl);
    margin: var(--spacing-xl) 0;

    @media screen and (max-width: 1180px) {
      gap: var(--spacing-lg);
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: var(--spacing-md);
    }
  }

  .blog-article {
    color: var(--color-dark);
    text-decoration: none;

    img {
      width: 100%;
      height: auto;
      border-radius: var(--br-md);
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.01);
      }
    }

    p {
      font-size: var(--font-size-md);
      color: var(--color-text);
      opacity: 0.5;
      margin: var(--spacing-sm) 0;
    }
  }

  .blog-article-title {
    font-size: var(--font-size-lg);
    font-weight: bold;
  }

  .blog-excerpt {
    font-size: var(--font-size-sm);
    color: var(--color-text);
    opacity: 0.5;
    margin-top: var(--spacing-sm);
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.blog",
  "settings": []
}
{% endschema %}
