{%- liquid
  assign policy_handles = 'privacy-policy,refund-policy,shipping-policy,terms-of-service' | split: ','
  assign header_classes = 'full-width'
  if policy_handles contains page.handle
    assign header_classes = header_classes | append: ' header--on-policy-page'
  endif
-%}

<header class="{{ header_classes }}" id="PageHeader">
  <div class="header-content">
    <div class="header-menu">
      {%- liquid
        if section.settings.menu != blank
          render 'header-drawer'
        endif
      -%}

      <a href="{{ routes.root_url }}" class="logo">
        <svg width="1177" height="532" viewBox="0 0 1177 532" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M171 58C181.862 66.0948 187.839 75.6557 190 89C191.35 107.149 188.288 125.11 185.905 143.05C183.111 164.186 181.98 185.291 181.789 206.598C181.775 208.104 181.76 209.61 181.746 211.116C181.687 217.347 181.632 223.578 181.599 229.809C181.578 233.67 181.542 237.53 181.498 241.391C181.484 242.842 181.475 244.293 181.472 245.745C181.446 256.465 180.993 266.361 174 275C168.594 280 163.994 280.369 156.824 280.273C152.558 279.86 149.355 278.681 146 276C134.203 260.167 140.877 235.418 143.375 217.562C145.27 203.901 147.106 190.267 148.211 176.516C148.29 175.529 148.37 174.542 148.451 173.525C150.82 156.187 150.82 156.187 147 140C143.438 139.181 143.438 139.181 140 139C137.626 145.801 135.766 152.622 134.074 159.621C133.519 161.88 132.964 164.138 132.408 166.396C131.55 169.904 130.694 173.411 129.842 176.92C119.016 221.424 119.016 221.424 109.187 231.062C105.074 233.563 101.787 234.26 97 234C90.4509 232.306 86.7323 228.426 83 223C76.1292 210.729 75.535 194.538 73.9375 180.75C73.7654 179.304 73.5931 177.858 73.4204 176.413C72.3806 167.638 71.4092 158.857 70.6833 150.05C70.2745 145.449 69.3906 141.379 68 137C65.5175 137.337 65.5175 137.337 63 139C59.6548 145.701 58.7702 153.706 57.5 161C57.3002 162.085 57.1004 163.171 56.8945 164.289C53.0178 186.166 51.3844 208.13 50.4187 230.301C48.6586 269.711 48.6586 269.711 38.2304 280.898C32.3657 286.158 27.2957 286.416 19.5234 286.336C13.6559 285.777 10.3827 283.659 6.51559 279.344C0.509726 271.006 -0.332847 261.06 0.222618 251.141C0.291888 249.849 0.291888 249.849 0.362557 248.532C0.996803 238.258 2.41502 228.089 3.83788 217.9C4.65488 212.047 5.44487 206.189 6.23434 200.332C6.3906 199.176 6.54686 198.019 6.70786 196.828C7.98506 187.296 9.06471 177.752 10.0625 168.188C11.4173 155.351 13.1095 142.581 15 129.812C15.1199 128.987 15.2399 128.162 15.3635 127.312C22.3421 79.5921 22.3421 79.5921 35 70C45.3842 63.8186 55.3323 60.9327 67.4843 63.5313C75.9002 66.5323 82.3271 71.7827 86.3828 79.6992C90.2496 88.556 92.4506 97.4334 93.9648 106.953C94.1362 108.027 94.3075 109.1 94.4841 110.206C94.824 112.377 95.152 114.549 95.467 116.724C95.6223 117.733 95.7775 118.742 95.9375 119.781C96.0702 120.689 96.203 121.598 96.3398 122.533C97.0715 125.267 98.172 126.866 100 129C101.98 128.67 103.96 128.34 106 128C108.775 119.924 110.716 111.852 112.437 103.5C114.234 94.9245 116.279 86.9721 120 79C120.366 78.1995 120.732 77.399 121.109 76.5742C125.641 67.5876 132.351 59.4431 142 56C143.072 55.5875 144.145 55.175 145.25 54.75C154.369 52.9261 162.878 53.1681 171 58Z" fill="#FDFDFD"/>
          <path d="M294.031 301.848C303.623 307.462 308.59 315.4 311.902 325.844C314.724 337.463 314.415 349.05 314.312 360.938C314.303 363.202 314.294 365.466 314.285 367.731C314.206 380.527 313.816 393.221 312.78 405.978C312.156 414.078 311.874 422.136 311.75 430.258C311.733 431.353 311.716 432.448 311.698 433.577C311.617 439.036 311.556 444.495 311.518 449.955C311.06 493.779 311.06 493.779 298.77 506.406C293.561 511.098 288.78 511.555 281.969 511.336C276.501 510.717 272.876 509.17 269.25 504.977C259.231 490.863 262.515 472.818 265.223 456.763C266.575 449.074 268.067 441.412 269.562 433.75C276.323 404.89 276.323 404.89 274 376C271.109 376.261 271.109 376.261 268 378C261.949 386.608 259.509 398.188 256.38 408.112C246.469 439.416 246.469 439.416 234.562 446.438C229.26 447.602 225.447 447.499 220.375 445.75C213.917 441.43 211.459 433.74 209.996 426.457C208.09 415.309 207.58 404.088 207.378 392.795C207.255 387.159 206.889 382.326 205 377C203.35 377 201.7 377 200 377C186.368 400.503 187.816 436.287 186.766 462.633C186.428 471.059 185.838 479.336 184.625 487.688C184.511 488.49 184.397 489.291 184.28 490.118C182.645 500.547 179.905 508.914 171.117 515.387C165.987 518.346 160.817 519.056 155 518C149.185 515.67 144.336 511.28 141 506C136.167 493.835 139.371 479.535 141.687 467.063C141.966 465.504 142.243 463.946 142.52 462.387C144.186 453.077 146.033 443.811 147.964 434.553C150.313 422.969 152.12 411.292 154 399.625C159.932 362.862 159.932 362.862 163 348C163.154 347.248 163.307 346.497 163.465 345.722C166.503 331.373 172.167 316.816 184.508 308.262C190.583 304.661 195.925 303.446 202.875 303.375C203.588 303.364 204.302 303.353 205.037 303.342C211.124 303.507 214.507 305.793 218.941 309.719C226.692 318.235 229.407 328.709 232.008 339.652C232.958 342.858 234.144 345.238 236 348C239.447 347.765 241.416 347.57 243.934 345.113C246.799 340.796 248.467 336.199 250.312 331.375C255.635 317.992 260.449 308.406 273.312 301.125C280.094 299.056 287.46 298.926 294.031 301.848Z" fill="#FDFDFD"/>
          <path d="M118 304.625C118.861 304.611 119.721 304.597 120.608 304.583C128.722 304.643 135.854 306.221 141.938 311.875C142.668 312.532 143.399 313.19 144.152 313.867C147.536 317.773 148.462 321.669 148.316 326.82C147.356 333.439 143.769 339.438 139 344C132.92 347.648 127.373 350.058 120.254 350.211C99.1867 350.412 99.1867 350.412 81 360C74.1038 367.985 73.6631 377.692 73.6016 387.777C73.7606 390.914 73.7606 390.914 75.1914 392.918C80.979 396.381 89.7419 393.952 95.875 392.5C104.262 390.57 113.826 388.67 121.688 393.125C125.019 395.701 126.801 397.877 128 402C128.826 409.413 128.642 415.929 124 422C116.136 430.824 105.924 433.268 94.6875 435.438C77.7664 438.54 77.7664 438.54 64 448C57.7972 458.907 54.7909 471.311 57.9375 483.688C59.9397 486.339 59.9397 486.339 63.75 487.125C77.0039 487.656 90.827 480.582 102.856 475.784C110.078 473.142 118.285 472.847 125.625 475.125C129.174 477.927 130.68 480.596 131.281 485.109C131.592 492.63 129.629 498.312 124.875 504.125C108.158 521.954 77.1244 530.599 53.4253 531.4C41.2998 531.573 30.446 530.088 20.9375 521.926C12.9132 513.95 10.478 506.487 10.4255 495.253C10.9321 473.911 17.6832 452.164 22.4348 431.447C31.2052 394.583 31.2052 394.583 33.9375 357C33.7068 345.135 35.6083 334.883 44 326C44.5401 325.397 45.0802 324.793 45.6367 324.172C56.3299 313.502 73.0739 311.293 87.2715 308.536C89.6935 308.06 92.1041 307.55 94.5156 307.023C102.349 305.384 109.994 304.707 118 304.625Z" fill="#FDFDFD"/>
          <path d="M359 63C362.617 65.7588 365.834 68.738 369 72C369.986 72.9726 369.986 72.9726 370.992 73.9648C378.141 81.4665 382.369 91.0483 382.215 101.43C381.579 109.032 379.791 115.852 374 121C368.798 123.924 363.883 124.579 358 124C351.382 121.417 346.972 114.451 343.125 108.75C339.456 103.792 334.864 101.676 328.855 100.625C323.744 100.312 320.831 101.765 317 105C312.194 110.024 310.023 114.349 309.562 121.25C309.734 127.606 312.433 133.091 316.609 137.824C323.004 143.647 330.79 146.402 338.937 148.875C348.258 151.848 355.353 155.653 362 163C362.543 163.55 363.085 164.101 363.645 164.668C376.365 178.109 379.389 195.223 379.211 213.039C378.153 232.912 369.999 252.452 355.332 266.164C340.594 277.767 323.615 282.801 305 281C291.343 279.096 280.762 272.54 272 262C263.714 250.495 255.283 235.665 257 221C259.1 214.042 263.767 209.495 269.922 205.867C274.461 203.973 279.505 204.02 284.078 205.816C289.643 209.425 292.935 214.971 296.324 220.53C299.707 225.995 303.773 230.704 310 233C315.775 233.946 320.787 233.642 325.875 230.625C332.22 225.77 334.943 219.286 336 211.5C336.341 203.951 334.7 197.683 329.937 191.75C323.209 184.814 314.704 181.383 306 177.562C298.759 174.379 292.078 171.16 286 166C285.362 165.46 284.724 164.92 284.066 164.363C274.521 155.557 268.65 142.437 267.762 129.539C267.302 105.277 278.167 81.8456 294.652 64.2578C313.357 46.2688 338.353 50.1622 359 63Z" fill="#FDFDFD"/>
          <path d="M953 256.563C953.89 256.552 954.779 256.542 955.696 256.532C962.119 256.619 967.993 257.438 973.059 261.754C973.514 262.351 973.969 262.948 974.437 263.562C974.911 264.162 975.384 264.761 975.871 265.379C979.135 270.066 978.504 275.493 978 281C977.06 283.985 975.733 286.407 974 289C973.464 289.887 972.927 290.774 972.375 291.688C964.136 299.71 952.772 301.192 941.812 301.938C924.396 303.021 924.396 303.021 910 312C903.351 320.094 901.66 329.291 901.699 339.531C901.764 342.175 901.764 342.175 904 344C909.573 344.464 914.195 343.799 919.625 342.5C927.8 340.647 937.709 338.567 945.293 342.867C949.02 345.803 951.492 348.475 953 353C953.508 359.474 952.386 364.51 948.734 369.852C940.286 379.537 925.598 382.197 913.703 385.377C906.193 387.437 898.523 389.848 892.625 395.125C888.241 402.881 885.864 411.071 885.75 419.938C885.711 421.745 885.711 421.745 885.672 423.59C886.04 427.418 886.27 429.254 889 432C895.044 433.259 900.597 431.502 906.187 429.312C906.912 429.043 907.637 428.773 908.384 428.495C909.868 427.943 911.351 427.385 912.831 426.821C916.143 425.567 919.477 424.378 922.812 423.188C924.462 422.59 924.462 422.59 926.145 421.98C930.891 420.351 934.817 419.815 939.875 419.75C941.069 419.724 942.262 419.698 943.492 419.672C947.422 420.039 949.705 420.841 953 423C956.527 427.461 956.574 431.36 956.398 436.871C955.47 444.159 952.263 449.292 946.75 454.062C933.715 463.579 919.574 469.134 904 473C902.934 473.267 901.868 473.534 900.77 473.809C886.576 476.711 869.361 476.813 856.187 470.312C849.259 465.286 844.519 459.553 843 451C840.997 432.687 847.168 413.02 850.878 395.192C856.818 366.606 861.875 337.828 866.023 308.926C870.062 281.21 870.062 281.21 878.914 273.516C889.503 265.822 901.145 263.875 913.798 261.583C916.91 261.016 920.013 260.411 923.117 259.801C933.084 257.911 942.843 256.636 953 256.563Z" fill="#FDFDFD"/>
          <path d="M477.125 54.625C477.812 54.611 478.499 54.597 479.206 54.5825C486.879 54.656 492.585 57.5846 498 63C502.296 68.8384 503.023 74.9136 502 82C499.54 89.7607 494.029 95.0951 487 99C479.059 102.261 470.527 102.643 462.057 103.178C455.153 103.672 447.953 104.358 442.625 109.125C436.636 119.721 436.349 132.078 437 144C437.33 144.66 437.66 145.32 438 146C444.581 148.136 451.07 145.508 457.506 143.826C465.363 141.882 472.915 140.861 480.812 143.062C485.621 145.986 489.204 149.611 491 155C491.846 161.779 490.68 168.198 487 174C482.391 178.977 477.482 181.35 471.125 183.438C469.443 184.026 467.762 184.617 466.082 185.211C465.237 185.506 464.392 185.801 463.522 186.104C446.973 191.565 446.973 191.565 434.062 202.625C430.433 210.738 431.497 219.708 434 228C445.788 231.246 456.26 226.685 467.133 222.367C477.205 218.388 486.525 214.801 497.121 219.066C499.86 220.427 501.346 221.381 503 224C504.722 229.22 504.273 233.183 501.937 238.125C492.856 254.179 476.116 261.986 458.937 266.812C455.969 267.593 452.992 268.315 450 269C448.921 269.248 447.842 269.495 446.73 269.75C438.456 271.249 430.075 271.264 421.687 271.375C420.482 271.401 419.277 271.427 418.036 271.454C410.363 271.469 403.366 270.905 397.421 265.588C392.209 259.736 391.641 254.293 391.687 246.812C391.691 245.887 391.694 244.961 391.698 244.007C391.82 235.914 392.703 227.997 393.719 219.976C395.816 203.048 396.849 186.013 398 169C398.052 168.236 398.104 167.472 398.158 166.685C399.083 153.021 399.919 139.36 400.273 125.668C400.294 124.888 400.314 124.109 400.335 123.306C400.429 119.577 400.51 115.849 400.571 112.12C401.154 81.5781 401.154 81.5781 409.812 72.875C426.546 59.8675 456.309 54.9109 477.125 54.625Z" fill="#FDFDFD"/>
          <path d="M1078.75 2.93751C1083.75 6.90211 1086.03 13.0976 1088 19C1088.08 20.8845 1088.1 22.7718 1088.08 24.658C1088.08 25.8203 1088.07 26.9825 1088.06 28.18C1088.05 29.4393 1088.04 30.6986 1088.03 31.9961C1088.02 33.9817 1088.01 35.9674 1088 37.953C1087.98 42.8437 1087.94 47.7342 1087.9 52.6248C1087.88 55.3652 1087.87 58.1055 1087.86 60.846C1087.85 63.4205 1087.83 65.995 1087.8 68.5695C1087.78 76.2493 1088.47 83.472 1090 91C1092.9 91.9979 1092.9 91.9979 1095.68 91.1038C1100.43 86.842 1104.09 82.1458 1107.75 76.9375C1134.01 40.4842 1134.01 40.4842 1151 37C1156.94 36.4088 1162.1 36.0994 1167.56 38.6875C1172.73 43.5869 1175.66 47.5808 1176.37 54.75C1175.97 67.4664 1164.93 77.3816 1156.5 85.7266C1155.71 86.5185 1154.92 87.3104 1154.1 88.1263C1152.44 89.7874 1150.77 91.4462 1149.1 93.1025C1146.57 95.6199 1144.04 98.1452 1141.51 100.672C1139.89 102.295 1138.26 103.917 1136.63 105.539C1135.88 106.284 1135.14 107.029 1134.37 107.797C1130.26 111.866 1126.07 115.773 1121.68 119.535C1105.99 133.216 1102.85 153.449 1099 172.938C1097.12 182.452 1095.17 191.896 1092.46 201.215C1092.27 201.888 1092.07 202.562 1091.87 203.255C1088.61 214.064 1083.94 225.665 1073.62 231.301C1068.26 233.686 1063.83 234.846 1058 234C1051.88 231.265 1047.6 227.437 1044.75 221.312C1042.5 211.36 1045.05 204.201 1049 195C1060.51 167.695 1056.92 145.033 1049.99 116.762C1032.03 43.3055 1032.03 43.3055 1048.97 12.9375C1052.76 7.44271 1057.09 3.51639 1063 0.437505C1068.64 -0.385641 1073.8 -0.106122 1078.75 2.93751Z" fill="#FDFDFD"/>
          <path d="M755.688 269.937C770.072 281.558 772.395 306.269 775.105 323.145C775.308 324.342 775.51 325.54 775.719 326.773C775.893 327.85 776.068 328.927 776.248 330.037C777.047 333.186 778.102 335.371 780 338C782.386 339.244 782.386 339.244 785 339C789.51 335.645 790.906 330.886 792.813 325.812C793.515 324.006 794.218 322.2 794.922 320.395C795.271 319.489 795.619 318.584 795.979 317.651C810.357 280.336 810.357 280.336 826.957 271.84C832.871 269.409 838.531 269.276 844.625 271.062C850.356 274.352 853.923 278.712 856 285C858.448 303.016 846.669 319.685 836.491 333.461C814.183 363.74 799.851 389.126 796.625 427.188C793.157 465.517 793.157 465.517 779.863 477.602C772.979 482.768 765.568 485.001 757 484C751.085 482.151 747.49 479.03 744 474C738.669 462.959 742.785 450.485 746.313 439.5C747.13 436.888 747.936 434.273 748.738 431.656C749.032 430.704 749.032 430.704 749.332 429.733C758.63 399.051 753.83 375.87 739.988 347.895C730.341 328.333 719.189 305.224 726 283C728.655 275.702 732.926 271.037 739.875 267.562C745.519 266.546 750.731 266.845 755.688 269.937Z" fill="#FDFDFD"/>
          <path d="M968 11.0001C971.985 13.7961 974.058 16.3199 976.187 20.6876C976.92 22.1474 976.92 22.1474 977.668 23.6368C987.686 48.9319 977.696 78.9671 971.651 104.104C969.794 111.835 967.985 119.578 966.203 127.327C965.706 129.481 965.204 131.634 964.702 133.787C960.176 152.763 960.176 152.763 958.625 172.125C958.613 172.801 958.602 173.476 958.59 174.172C958.619 179.202 959.678 182.629 962 187C965.381 189.254 967.116 189.338 971.078 188.801C979.621 186.459 987.692 181.53 995.125 176.813C1004.46 171.098 1014.98 167.245 1026 169C1031.42 170.783 1034.75 174.504 1038 179C1039.92 184.773 1039.61 190.884 1037.94 196.688C1027.49 214.556 1004.85 222.491 985.763 227.599C968.358 232.027 947.471 234.962 931.133 225.973C924.241 221.155 921.94 212.519 920.438 204.72C917.023 183.512 921.727 160.672 924.217 139.575C927.905 108.26 931.172 77.2803 930.888 45.7147C930.882 44.6962 930.875 43.6778 930.868 42.6285C930.85 40.8001 930.817 38.9718 930.763 37.1441C930.629 28.2316 932.65 20.2042 938.922 13.6954C947.438 6.74812 958.47 5.7678 968 11.0001Z" fill="#FDFDFD"/>
          <path d="M547 282C552.6 285.661 555.181 289.699 557 296C557.684 303.415 556.615 310.386 554.93 317.586C554.707 318.57 554.485 319.553 554.256 320.567C551.802 331.221 548.94 341.766 546.038 352.305C544.475 357.989 542.934 363.68 541.395 369.371C541.095 370.476 540.796 371.582 540.488 372.721C527.913 409.503 527.913 409.503 529.461 446.363C530.759 448.844 530.759 448.844 532 450C542.906 451.235 552.467 444.966 561.66 439.768C567.911 436.295 573.817 434.347 581 435C585.682 436.744 588.213 438.87 591 443C593.32 449.959 592.413 456.865 589.449 463.488C580.19 479.536 562.756 487.233 545.75 492.312C529.637 496.545 512.087 499.276 496.75 491.312C491.129 486.586 487.27 481.342 486 474C483.73 446.417 490.008 419.538 495.358 392.688C498.396 377.391 501.167 362.057 503.813 346.688C503.995 345.63 504.178 344.572 504.366 343.482C504.899 340.388 505.428 337.294 505.957 334.199C506.128 333.202 506.3 332.206 506.477 331.179C507.379 325.878 508.216 320.576 508.974 315.252C509.138 314.137 509.302 313.021 509.47 311.871C509.779 309.753 510.074 307.633 510.352 305.511C511.719 296.231 514.641 287.942 522.324 282.117C529.833 277.111 539.199 277.847 547 282Z" fill="#FDFDFD"/>
          <path d="M249.246 68.875C253.07 71.3274 255.979 74.9587 258 79C258.699 88.8546 257.56 97.9424 255.351 107.547C254.51 111.218 253.731 114.902 252.949 118.586C252.786 119.352 252.623 120.117 252.455 120.906C245.728 152.888 242.277 185.122 241.789 217.789C241.775 218.681 241.76 219.573 241.746 220.493C241.689 224.128 241.633 227.764 241.599 231.4C241.325 258.145 241.325 258.145 231.59 268.5C225.906 273.593 220.002 275.61 212.492 275.348C206.884 274.565 203.186 272.16 199.188 268.25C191.286 256.511 193.935 243.84 196.221 230.603C198.917 214.892 201.148 199.128 203.125 183.312C203.25 182.31 203.376 181.307 203.505 180.273C205.557 163.72 207.238 147.142 208.62 130.519C209.319 122.247 210.19 114.044 211.469 105.84C211.644 104.709 211.644 104.709 211.822 103.555C213.78 91.5756 216.343 78.1831 225.516 69.5781C232.061 64.9389 242.161 65.7982 249.246 68.875Z" fill="#FDFDFD"/>
          <path d="M994.25 261.063C1014.29 243.095 1048.67 254.651 1068.74 267.079C1090.84 281.73 1103.95 304.291 1109.62 329.774C1113.3 360.795 1105.23 392.682 1086.84 417.965C1084.64 420.728 1082.37 423.379 1080 426L1077.73 428.516C1057.76 449.552 1026 466.575 996.584 467.431C987.68 467.457 981.009 466.516 974.137 460.321C970.348 456.251 967.909 452.374 968.064 446.637C968.771 437.767 970.256 429.089 971.836 420.344C972.119 418.75 972.402 417.156 972.684 415.562C973.425 411.387 974.171 407.212 974.92 403.038C980.426 373.094 980.426 373.094 985 343C985.103 342.257 985.205 341.513 985.311 340.747C987.323 325.919 987.12 311.23 986.808 296.294C986.748 293.165 986.712 290.036 986.679 286.906C986.653 285.973 986.626 285.039 986.598 284.077C986.535 275.584 988.401 267.467 994.25 261.063ZM1044 303C1040.23 302.053 1036.57 301.215 1033 303C1030.01 308.229 1028.27 313.996 1026.77 319.797C1026.53 320.78 1026.3 321.734 1026.06 322.688C1022.85 335.721 1020.6 348.88 1018.58 362.144C1018.39 363.455 1018.19 364.728 1018 366C1015.77 380.351 1011.14 397.486 1014 412C1016.14 414.74 1017.6 416.646 1021.03 417.516C1031.82 416.103 1040.41 409.456 1047.69 401.723C1063.09 383.584 1069.4 361.693 1068.22 338.238C1067.21 327.98 1062.64 317.461 1054.91 310.531L1053 309C1050.13 306.682 1047.31 304.638 1044 303Z" fill="#FDFDFD"/>
          <path d="M634.078 295.851C649.553 280.892 674.361 274.624 692.75 288.187C712.296 304.8 718.148 327.492 720.398 352.121C720.689 356.08 720.886 360.032 721 364C721.022 364.709 721.044 365.42 721.066 366.151C722.005 401.584 713.827 440.15 689.168 466.867C678.683 477.589 664.563 484.871 649.43 485.294C637.248 485.408 629.141 482.988 620.207 474.265L618 472L616.324 470.422C597.749 451.396 596.383 419.584 596.651 394.882C597.252 361.228 607.722 322.361 632 298L634.078 295.851ZM672.188 331.562C667.705 329.365 664.295 329.426 659.5 330.625C648.942 336.431 644.094 346.435 640.168 357.449L639 361C635.508 371.247 634.659 381.138 634.626 391.914C634.626 392.623 634.625 393.311 634.625 394C634.591 406.142 634.878 417.676 642 428C645.679 431.446 648.797 432.881 653.813 433.375C659.831 432.667 663.638 430.056 668 426C682.52 408.319 684.259 381.932 683 360C682.08 349.767 680.284 338.579 672.188 331.562Z" fill="#FDFDFD"/>
          <path d="M405.242 301.375C430.207 297.064 458.057 298.738 478 315.812C487.865 325.402 492.234 336.013 492.437 349.625C492.271 369.214 484.764 387.935 471 402C467.833 404.936 464.523 407.505 461 410L457.992 412.14C443.789 421.743 428.038 428.258 412.187 434.625C390.34 442.148 390.339 442.148 374.965 458.105C372.819 463.424 371.935 468.701 371.605 474.386L371.396 477.482C371.258 479.599 371.13 481.716 371.013 483.834C370.339 493.349 368.189 502.279 361 509C354.41 513.5 347.946 515.484 340 514C333.436 511.306 329.575 506.926 326.25 500.75C323.623 492.869 325.297 485.423 327.16 477.519C327.385 476.525 327.611 475.531 327.843 474.507C328.326 472.378 328.812 470.25 329.301 468.124C330.594 462.497 331.849 456.862 333.101 451.226C333.352 450.098 333.604 448.969 333.862 447.806C338.525 426.691 342.361 405.404 345.437 384C345.601 382.879 345.766 381.759 345.935 380.604C347.367 369.993 347.493 359.599 346 349C345.796 345.999 345.726 343.007 345.687 340L345.599 337.711C345.528 331.328 347.214 326.189 351.458 321.332C364.014 308.982 385.387 304.87 402 302L405.242 301.375ZM441.875 344.125C426.702 334.717 404.409 340.445 390.062 348.687C386.994 352.128 386.994 352.128 382.468 381.899C382.309 382.953 382.154 383.977 382 385C381.607 387.555 381.218 390.111 380.861 392.672L380.562 394.875C380.052 398.216 379.317 400.96 381.265 403.926C383 405 383 405 386.187 405.312C402.72 403.957 424.296 396.601 436.398 384.765L438 383L439.664 381.172C445.24 374.415 448.819 365.988 448.312 357.129C447.523 351.751 446.245 347.593 441.875 344.125Z" fill="#FDFDFD"/>
          <path d="M549.378 32.6722C572.187 25.0244 603.176 30.3183 622.812 43.8129C631.2 50.2724 636.453 57.4653 641 67.0004L642.039 69.141C646.379 79.7682 644.868 92.1456 640.668 102.5C633.974 116.546 625.021 128.181 613.886 139.012C612.981 139.897 612.075 140.781 611.142 141.693C609.324 143.456 607.49 145.203 605.641 146.934C602.023 150.422 599.383 152.979 597.601 157.727C598.288 163.365 601.923 166.205 606.093 169.606C607.224 170.472 608.36 171.333 609.5 172.188C616.523 177.581 623.285 183.229 630 189L632.449 191.071C637.971 195.786 643.388 200.414 644.222 208.036C644.436 213.451 643.883 218.325 641 223C636.157 228.216 632.174 231.105 624.937 231.375C613.77 231.214 606.625 224.464 599 217L596.242 214.36C589.104 207.401 582.92 199.881 576.687 192.121C572.318 186.555 572.318 186.555 566.125 183.688C563.062 183.747 563.061 183.747 561.125 185.25C558.485 189.356 559.046 193.236 559.375 197.875C559.423 198.638 559.473 199.401 559.523 200.187C559.815 204.651 560.176 209.106 560.562 213.563C562.765 242.456 562.765 242.457 554.937 252.5C549.509 257.962 543.101 260.144 535.5 260.563C528.095 260.259 522.514 257.247 517.062 252.375C509.021 239.218 511.846 223.124 513.76 208.588C514.093 206.063 514.414 203.536 514.733 201.008C515.416 195.609 516.113 190.211 516.812 184.813C519.445 164.44 522.06 144.086 523.804 123.614C523.866 122.897 523.928 122.179 523.992 121.441C526.702 96.893 526.702 96.893 520.375 73.5629C517.41 67.2287 516.654 62.1122 518.851 55.3988C524.693 42.2437 536.78 37.6244 549.378 32.6722ZM582.875 70.7504C577.848 70.8142 574.436 71.3806 569.812 73.3754C567 76 567 76.0005 566.831 78.0433C567.203 83.225 566.945 88.0855 566.085 93.1908C565.884 94.3133 565.884 94.3142 565.687 95.4144C565.278 97.7074 564.861 99.9993 564.436 102.289C562.662 111.781 560.314 121.299 561 131C561.999 133 562 133 564.062 133.938C566.999 134 567 134 570.5 132.375C582.698 124.058 596.739 109.682 600 95.0004C600.493 88.2845 601.286 82.1844 597.25 76.5629C593.992 72.8532 591.539 71.147 586.554 70.6722L582.875 70.7504Z" fill="#FDFDFD"/>
          <path d="M829 22.9998C851.637 18.9512 877.183 23.388 895.371 37.8904C904.68 46.3676 910.089 58.1929 911.375 70.6248C910.803 88.815 899.987 102.362 887.5 114.312L885.531 116.113C883.653 118.427 883.196 120.04 883 123C885.533 126.186 888.536 128.399 891.813 130.75C899.86 136.713 905.064 143.397 908 153L908.574 154.836C911.294 168.66 907.933 181.891 900.75 193.812C886.497 214.578 864.052 231.945 839 236.875C827.526 238.882 815.271 239.635 804.625 234.312C801.331 231.411 800.259 229.197 799 225C798.613 217.917 799.757 211.169 800.875 204.187C804.102 183.927 805.374 164.271 805.313 143.75C805.311 142.515 805.309 141.281 805.308 140.009C805.25 113.391 804.36 86.9554 796.902 61.2107C794.809 53.7628 796.366 48.5462 800 41.9998C807.014 30.6276 816.404 26.3525 829 22.9998ZM862 152C854.158 147.722 847.194 147.305 840.375 153.312C836.053 158.924 836.053 158.925 835.773 178.981C835.765 180.05 835.758 181.087 835.75 182.125C835.74 183.176 835.731 184.196 835.722 185.217C835.726 186.208 835.73 187.17 835.734 188.133C835.744 191.863 835.845 192.768 838 196L841.938 196.25C849.782 196.074 849.782 196.074 860.449 185.594C867.033 178.541 871.511 172.86 871.336 162.98C870.553 158.362 870.552 158.362 862 152ZM864.5 58.1248C854.171 54.8046 842.275 56.3356 834.375 64.1248C830.647 69.3025 830.647 69.3028 833.324 89.0896C833.602 91.0616 833.879 93.0342 834.14 95.0085C834.272 96.0161 834.273 96.0161 834.402 97.0037L834.93 100.812C835.406 104.269 835.406 104.27 836 107C838 109 838 109 840.625 109.375C847.188 108.646 852.342 105.208 857.145 100.812L859 98.9998C861.411 96.6682 863.695 94.2956 865.91 91.7771C871.369 84.5229 873.873 77.0156 873 67.9998C870.957 63.9146 868.114 60.8352 864.5 58.1248Z" fill="#FDFDFD"/>
          <path d="M721.066 26.0901C729.759 22.8397 736.521 22.91 744.715 27.469C757.981 36.3586 761.265 54.5396 765 69.0002C765.28 70.064 765.559 71.1279 765.848 72.2239C774.062 103.691 778.674 135.667 782.511 167.921C782.905 171.234 783.325 174.543 783.754 177.852C784.891 187.08 785.238 196.312 785.35 205.607C785.374 207.563 785.414 209.519 785.454 211.475C785.471 220.932 784.171 229.344 777.5 236.5L775.781 238.406C771.003 242.682 766.337 242.421 760.137 242.317C754.77 241.775 752.279 239.386 748.75 235.563C744.559 229.426 743.911 223.053 743.789 215.754L743.703 212.217C743.651 209.785 743.607 207.352 743.57 204.92C743.374 196.034 743.374 196.034 740 188C735.879 184.934 730.898 185.57 726 186C716.895 187.516 707.977 190.137 701.75 197.313C695.177 207.054 693.259 220.433 690.875 231.729C689.183 239.369 686.812 245.514 680 250C675.319 252.675 670.242 252.531 665 252C659.815 250.239 657.135 247.442 654 243C635.45 197.78 679.088 101.198 696.584 58.6204C708.073 31.8127 708.073 31.8129 721.066 26.0901ZM732 90.0002C729.411 89.2235 728.491 88.7548 726 90.0002C721.654 97.1701 718.81 104.904 716.322 112.875L715.188 116.625C712.852 124.009 710.699 131.222 709.778 138.927C710.074 141.693 711.126 142.988 713 145C716.508 145.76 716.508 145.76 725.738 144.68C730.762 143.861 733.783 143.222 737 139C739.175 127.558 739.175 127.558 732 90.0002Z" fill="#FDFDFD"/>
        </svg>
      </a>

      {%- liquid
        if section.settings.menu != blank
          render 'header-dropdown-menu'
        else
          echo 'Set menu in admin'
        endif
      %}
    </div>

    <div class="header-icons">
      {% if shop.customer_accounts_enabled %}
        {{ 'icon-account.svg' | inline_asset_content | link_to: routes.account_url }}
      {% endif %}

      <a href="{{ routes.cart_url }}">
        {% if cart.item_count > 0 %}
          <sup>{{ cart.item_count }}</sup>
        {% endif %}

        {{ 'icon-cart.svg' | inline_asset_content }}
      </a>
    </div>
  </div>
</header>

{% javascript %}
  document.addEventListener('DOMContentLoaded', function () {
    let lastScrollY = window.scrollY;
    const header = document.querySelector('#PageHeader');
    let ticking = false;

    function onScroll() {
      if (!ticking) {
        window.requestAnimationFrame(function () {
          if (window.scrollY > lastScrollY && window.scrollY > 100) {
            // Scrolling down
            header.style.transform = 'translateY(-120%)';
          } else {
            // Scrolling up
            header.style.transform = 'translateY(0)';
          }

          // Add or remove "opaque" class based on scroll position
          if (window.scrollY > 200) {
            header.classList.add('opaque');
          } else {
            header.classList.remove('opaque');
          }

          lastScrollY = window.scrollY;
          ticking = false;
        });
        ticking = true;
      }
    }

    window.addEventListener('scroll', onScroll);
  });
{% endjavascript %}

{% stylesheet %}
  keyframes slideIn {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }

  #PageHeader {
    animation: slideIn 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: transparent;
  }

  #PageHeader.opaque,
  #PageHeader.header--on-policy-page {
    background: var(--color-light);
    color: var(--color-dark);

    .logo svg path {
      fill: var(--color-dark);
    }

    a {
      color: var(--color-dark);

      span {
        border-bottom: 2px solid transparent;

        &.header__active-menu-item {
          border-bottom: 2px solid var(--color-dark);
        }
      }
    }

    .list-menu-li header-menu details summary span {
      color: var(--color-dark);
    }

    .header__inline-menu .list-menu__item svg path {
      stroke: var(--color-dark);
    }
  }

  header {
    padding: var(--spacing-md);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 100px;

    .header-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: min(calc(var(--page-width) - var(--page-margin) * 2), calc(100% - var(--page-margin) * 2));
      margin: 0 auto;
    }

    @media (max-width: 1024px) {
      height: 84px;
    }
  }

  header a {
    position: relative;
    text-decoration: none;
    color: var(--color-light);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-md);
    font-weight: bold;

    span {
      border-bottom: 2px solid transparent;

      &.header__active-menu-item {
        border-bottom: 2px solid var(--color-light);
      }
    }
  }

  header a sup {
    position: absolute;
    right: -8px;
    bottom: -8px;
    overflow: hidden;
    max-width: var(--page-margin);
    background: var(--color-success);
    border: 2px solid var(--color-dark);
    color: var(--color-dark);
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--br-circle);
    font-size: 0.8rem;
    font-weight: bold;
  }

  .header-icons svg {
    width: 2rem;
  }

  header .logo {
    display: flex;
    align-items: center;
    height: 60px;
    width: auto;
    min-width: 100px;
    margin-right: var(--spacing-lg);

    svg {
      width: 100%;
      height: 100%;
      max-width: 100px;
      max-height: 100px;
    }

    @media (max-width: 1024px) {
      margin-right: 0;
      width: 50px;
      height: 50px;

      svg {
        max-width: 50px;
        max-height: 50px;
      }
    }
    @media (max-width: 768px) {
      width: 40px;
      height: 40px;

      svg {
        max-width: 40px;
        max-height: 40px;
      }
    }
  }

  header .header-menu,
  header .header-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-sm);
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    }
  ]
}
{% endschema %}
