{% comment %}
  Homepage Hero Section
{% endcomment %}

<div class="hero-bg-text">Miserably Employed</div>

<div
  class="homepage-hero full-width"
  {% if section.settings.hero_background_image != blank %}
    style="background-image: url({{ section.settings.hero_background_image | image_url: 'master' }});"
  {% else %}
    style="background-image: url('{{ 'homepage-background.jpg' | asset_url }}');"
  {% endif %}
>
  <div class="hero-content-vibe">
    <p class="tagline">{{ section.settings.hero_tagline }}</p>
    <p class="quote">"{{ section.settings.hero_quote }}"</p>
  </div>
  <div class="hero-content">
    <h1>{{ section.settings.hero_title }}</h1>
    <div class="hero-buttons">
      <a class="button primary" href="{{ section.settings.shop_link }}">{{ section.settings.shop_link_text }}</a>
      <a class="button" href="{{ section.settings.tee_link }}">{{ section.settings.tee_link_text }}</a>
    </div>
  </div>
</div>

{% stylesheet %}
  .hero-bg-text {
    color: white;
    background-color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 20rem;
    text-wrap: nowrap;
    position: absolute;
    font-weight: bold;
    top: -2rem;
    left: -30%;
    right: -1vw;
    z-index: -1;
    pointer-events: none;
    opacity: 0.1;
    width: 100vw;
    text-align: center;
    transform: rotate(-10deg);
  }

  .homepage-hero {
    background-color: var(--color-dark);
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    padding: calc(var(--spacing-xxl) + 100px) 0 var(--spacing-xxl);
    justify-content: space-between;
    align-items: flex-start;
    height: 920px;
    text-align: center;
    gap: var(--spacing-lg);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    position: relative;
  }

  @media screen and (max-height: 800px) {
    .homepage-hero {
      height: 600px;
    }
  }

  @media screen and (max-height: 600px) {
    .homepage-hero {
      height: 400px;
    }
  }

  @media screen and (max-width: 1024px) {
    .homepage-hero {
      padding: var(--spacing-lg);
      height: calc(100vh - 90px - var(--spacing-md));
      background-position: bottom center;
    }
  }

  .homepage-hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.65) 75%);
    border-radius: var(--br-md);
    z-index: 1;
  }

  @media screen and (max-width: 1024px) {
    .homepage-hero::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.55) 75%);
      border-radius: var(--br-md);
      z-index: 1;
    }
  }

  .hero-content-vibe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: var(--spacing-md);
    z-index: 2;
    position: relative;
    max-width: min(calc(var(--page-width) - var(--page-margin) * 2), calc(100% - var(--page-margin) * 2));
    margin: 0 auto;
    /* --content-width: min(calc(var(--page-width) - var(--page-margin) * 2), calc(100% - var(--page-margin) * 2));
    --content-margin: minmax(var(--page-margin), 1fr);
    --content-grid: var(--content-margin) var(--content-width) var(--content-margin); */
  }

  .hero-content-vibe p {
    font-size: var(--font-size-lg);
    font-weight: 500;
    margin: 0;
  }

  @media screen and (max-width: 600px) {
    .hero-content-vibe p {
      font-size: var(--font-size-md);
      text-align: left;
    }
  }

  .hero-content-vibe .tagline {
    opacity: 0.4;
  }

  .hero-content-vibe .quote {
    font-style: italic;
  }

  @media screen and (max-width: 1024px) {
    .hero-content-vibe .quote {
      display: none;
    }
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    max-width: 620px;
    z-index: 2;
    position: relative;
    max-width: min(calc(var(--page-width) - var(--page-margin) * 2), calc(100% - var(--page-margin) * 2));
    margin: 0 auto var(--spacing-lg);
  }

  @media screen and (max-width: 1024px) {
    .hero-content {
      max-width: 100%;
    }
  }

  .hero-content h1 {
    /* font-size: var(--font-size-xxxl); */
    /* font should scale */
    font-size: calc(2.5rem + 2.2vw);
    font-weight: 900;
    line-height: calc(2.5rem + 2.2vw);
    text-wrap: balance;
    text-align: left;
    margin: 0 var(--spacing-xxl) 0 0;
    text-transform: uppercase;
    font-style: italic;
    text-shadow: 4px 6px 0 var(--color-dark), 6px 8px 0 rgba(0, 0, 0, 0.2);
  }

  @media screen and (max-width: 1024px) {
    .hero-content h1 {
      font-size: var(--font-size-xxl);
      line-height: 60px;
    }
  }

  @media screen and (max-width: 600px) {
    .hero-content h1 {
      font-size: var(--font-size-xl);
      line-height: 30px;
    }
  }

  .hero-buttons {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-md);
  }

  @media screen and (max-width: 600px) {
    .hero-buttons {
      flex-direction: column;
      width: 100%;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Homepage Hero",
  "settings": [
    {
      "type": "text",
      "id": "hero_tagline",
      "label": "Hero Tagline",
      "default": "—Wearable satire for the workplace"
    },
    {
      "type": "text",
      "id": "hero_quote",
      "label": "Hero Quote",
      "default": "I can not handle it anymore!"
    },
    {
      "type": "text",
      "id": "hero_title",
      "label": "Hero Title",
      "default": "Tees that say what you really think."
    },
    {
      "type": "text",
      "id": "shop_link",
      "label": "Shop Link URL",
      "default": "/collections/all"
    },
    {
      "type": "text",
      "id": "shop_link_text",
      "label": "Shop Link Text",
      "default": "Shop Bestsellers"
    },
    {
      "type": "text",
      "id": "tee_link",
      "label": "Tee Link URL",
      "default": "/collections/tees"
    },
    {
      "type": "text",
      "id": "tee_link_text",
      "label": "Tee Link Text",
      "default": "Check out this tee"
    },
    {
      "type": "image_picker",
      "id": "hero_background_image",
      "label": "Background Image"
    }
  ],
  "presets": [
    {
      "name": "Homepage Hero",
      "category": "Custom"
    }
  ]
}
{% endschema %}
