{% comment %}
  new items to show on the homepage
{% endcomment %}

<div class="new-items">
  {% if section.settings.new_collection == blank or collections[section.settings.new_collection].products.size == 0 %}
    <p class="no-products">No collection set in admin.</p>
  {% else %}
    <div class="section-title">
      <h2>
        {{- 'header-new.svg' | inline_asset_content -}}
        {{ section.settings.new_title }}
      </h2>
      <a href="{{ collections[section.settings.new_collection].url }}" class="button category show-all">
        Browse
        {{- 'arrow-right.svg' | inline_asset_content -}}
      </a>
    </div>
    <div class="new-items-grid">
      {% for product in collections[section.settings.new_collection].products %}
        <a class="product-card" href="{{ product.url }}">
          <!-- Available Colors -->
          {% assign color_option_index = 0 %}
          {% assign has_color_option = false %}

          {% for option in product.options_with_values %}
            {% if option.name contains 'Color' %}
              {% assign has_color_option = true %}
              {% assign color_option_index = forloop.index0 %}
              <div class="product-colors">
                {% for value in option.values %}
                  {% if value != blank %}
                    <span
                      class="color-dot"
                      style="background-color: {% render 'color-mapping', color_name: value %}"
                      title="{{ value }}"
                    ></span>
                  {% endif %}
                {% endfor %}
              </div>
            {% endif %}
          {% endfor %}

          <img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.title }}">
          <div class="product-details">
            <h3>{{ product.title }}</h3>
            <p>{{ product.price | money }}</p>
          </div>
        </a>
      {% endfor %}
    </div>
  {% endif %}
</div>

{% stylesheet %}
  .new-items {
    padding: var(--spacing-xxl) 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);

    @media screen and (max-width: 1024px) {
      padding: var(--spacing-xxl) 0;
    }

    .section-title {
      margin: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: var(--spacing-md);

      h2 {
        margin: 0;
        font-size: var(--font-size-xxl);
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-xs);
        color: var(--color-dark);

        @media screen and (max-width: 1024px) {
          font-size: var(--font-size-xl);
        }
      }

      @media screen and (max-width: 1024px) {
        font-size: var(--font-size-xl);
      }

      .show-all {
        text-decoration: none;
        font-size: var(--font-size-lg);
        padding: var(--spacing-sm) var(--spacing-md);

        @media screen and (max-width: 768px) {
          font-size: var(--font-size-md);
        }
      }
    }

    .new-items-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--spacing-xl);

      .product-card {
        overflow: hidden;
        position: relative;
        cursor: pointer;
        border-radius: var(--br-md);
        border: 1px solid var(--color-border);
        transition: all 0.3s ease;
        text-decoration: none;

        img {
          transition: transform 0.3s ease;
          border-radius: var(--br-sm);
        }

        &:hover {
          border: 1px solid rgba(0, 0, 0, 0.2);

          img {
            transform: scale(0.97);
          }
        }

        .product-details {
          padding: var(--spacing-md);
          border-radius: 0 var(--br-md) 0 0;
          display: flex;
          flex-direction: column;
          gap: var(--spacing-xs);
          transition: all 0.3s ease;
          background: rgba(255, 255, 255, 0.8);
          backdrop-filter: blur(5px);

          @media screen and (max-width: 1024px) {
            width: 100%;
            border-radius: var(--br-md) var(--br-md) 0 0;
          }

          h3 {
            margin: 0;
            font-size: var(--font-size-lg);
            color: var(--color-dark);
            text-decoration: none;
          }

          p {
            margin: 0;
            font-size: var(--font-size-md);
            color: var(--color-dark);
            text-decoration: none;
          }
        }
      }

      @media screen and (max-width: 1024px) {
        gap: var(--spacing-md);
      }

      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
      }
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "New!",
  "settings": [
    {
      "type": "text",
      "id": "new_title",
      "label": "New Title",
      "default": "New!"
    },
    {
      "type": "collection",
      "id": "new_collection",
      "label": "New Collection"
    }
  ],
  "presets": [
    {
      "name": "New!",
      "category": "Custom"
    }
  ]
}
{% endschema %}
