{% comment %}
  new items to show on the homepage
{% endcomment %}

<div class="new-items">
  {% if section.settings.new_collection == blank or collections[section.settings.new_collection].products.size == 0 %}
    <p class="no-products">No collection set in admin.</p>
  {% else %}
    <div class="section-title">
      <h2>
        {{- 'header-new.svg' | inline_asset_content -}}
        {{ section.settings.new_title }}
      </h2>
      <a href="{{ collections[section.settings.new_collection].url }}" class="button category show-all"
        >Browse all tees</a
      >
    </div>
    <div class="new-items-grid">
      {% for product in collections[section.settings.new_collection].products %}
        <a class="product-card" href="{{ product.url }}">
          <img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.title }}">
          <div class="product-details">
            <h3>{{ product.title }}</h3>
            <p>{{ product.price | money }}</p>
          </div>
        </a>
      {% endfor %}
    </div>
  {% endif %}
</div>

{% stylesheet %}
  .new-items {
    padding: var(--spacing-xxl) 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);

    @media screen and (max-width: 1024px) {
      padding: var(--spacing-xxl) 0;
    }

    .section-title {
      margin: 0;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;

      h2 {
        margin: 0;
        font-size: var(--font-size-xxl);
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-xs);
        color: var(--color-dark);
      }

      @media screen and (max-width: 1024px) {
        font-size: var(--font-size-xl);
      }

      .show-all {
        text-decoration: none;
        font-size: var(--font-size-lg);
        padding: var(--spacing-sm) var(--spacing-md);
      }
    }

    .new-items-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--spacing-xl);

      .product-card {
        overflow: hidden;
        position: relative;
        cursor: pointer;

        img {
          transition: transform 0.3s ease;
        }

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(220deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1) 100%);
          opacity: 1;
          z-index: 1;
          transition: all 0.3s ease;
        }

        &:hover::after {
          opacity: 0.4;
        }

        &:hover .product-details {
          padding: var(--spacing-lg);
        }

        &:hover img {
          transform: rotate(-1deg) scale(1.05);
        }

        .product-details {
          position: absolute;
          left: 0;
          bottom: 0;
          padding: var(--spacing-md);
          border-radius: 0 var(--br-md) 0 0;
          display: flex;
          flex-direction: column;
          gap: var(--spacing-xs);
          z-index: 2;
          transition: all 0.3s ease;

          @media screen and (max-width: 1024px) {
            width: 100%;
            border-radius: var(--br-md) var(--br-md) 0 0;
          }

          h3 {
            margin: 0;
            font-size: var(--font-size-lg);
            color: var(--color-light);
          }

          p {
            margin: 0;
            font-size: var(--font-size-md);
            color: var(--color-light);
          }
        }
      }

      @media screen and (max-width: 1024px) {
        gap: var(--spacing-md);
      }

      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
      }
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "New!",
  "settings": [
    {
      "type": "text",
      "id": "new_title",
      "label": "New Title",
      "default": "New!"
    },
    {
      "type": "collection",
      "id": "new_collection",
      "label": "New Collection"
    }
  ],
  "presets": [
    {
      "name": "New!",
      "category": "Custom"
    }
  ]
}
{% endschema %}
